  /*Normalise*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
{
    margin:0;
    padding:0;    
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,img 
{ 
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var 
{
    font-style:normal;
    font-weight:normal;
}

ol,ul 
{
    list-style:none;
}

caption,th {

    text-align:left;

}

h1,h2,h3,h4,h5,h6 {

    font-size:100%;

    font-weight:normal;

}

q:before,q:after {

    content:'';

}

abbr,acronym { border:0;}



/*End Normalise*/
body, html
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;

}

#settingsIcon
{
    width:24px;
    height:24px;
    position:absolute;
    right: 10px;
    top:10px;
}

h1 
{
    text-align:center;
    margin-top: 10px;
    padding:5px;
    font-size:180%;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    color:white;
}
p{color:white;}


div#container
{
    
   position:absolute;
    min-width:100%;
    min-height:100%;
    background-color:black;
    
   /* border-radius:10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.60);*/
}

div#innerContainer
{
    width:100%;
    margin: auto;
}

div#textContainer
{
    width: 45%;
    float: left;
}

div#formContainer
{
   margin-left: 45%;
   margin-right:2%;
}

input
{
    width:110px;
   height:20px;   
   display:block;
   margin:0 10px 10px 10px;   
}

input.button
{
   
   height:30px; 
 

   margin:10px 10px 10px 10px;   

}

select
{
    display:block;
    margin:0 10px 10px 10px;
    width:111px;    
}

p.input
{
    width:100%;
    margin:0 10px 14px auto;
    text-align:right;
}
.output
{
    display:block;
    clear:both;
     
}

#calcButton
{
    text-align:center;
    width:40%;
    height:30px;
    margin: 5px 30% auto 30%;
    font-weight:bold;   
 
}

#output.output
{
    margin-top:10px;
    text-align:center;
    font-size:150%;
}

.divGradient
{
    background: rgb(35,83,138); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,83,138,1) 0%, rgba(167,207,223,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,83,138,1)), color-stop(100%,rgba(167,207,223,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */


}

.tableGradient
{
   background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 27%, rgba(225,225,225,1) 100%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(241,241,241,1)), color-stop(100%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

button
{
    border:none;
    border-radius:10px;
    
  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}



#tableContainer
{
    margin:10px 10px 30px 10px;
    width:auto;
    padding:4px;
    border-radius:5px;
    clear: both;
    overflow:hidden; 
}

#showTableButton
{
    display:block;
    vertical-align:middle;
    line-height:30px;
    padding-right:10px;
    position:absloute;
    min-width:90%;
    margin:15px auto;
}

#buttonText
{
    color:black;
    display:inline;
}

.up
{
    -webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
}

.down
{
    -webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
}

table,th,td
{
    border: 1px solid black;
    padding: 3px 3px 3px 1px;
    color:black;    
    text-align:center;
}

td
{
    width:auto;
}

table
{
   width:100%;
   margin:auto;
   border: 1px solid black;
}

#tableHeader
{
    font-size:110%;
    text-align:center;
    font-weight:bold;
}

th
{
    font-size:80%;
    font-weight:bold;
    text-align:center;
    border: 1px solid black;
   /* background-color:#CCE4FF;   */
}

td
{
    font-size:80%;
}
td:first-child
{
    text-align:center;
}

tr.evenRow
{
   background: rgb(222,222,222); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(222,222,222,1) 0%, rgba(163,163,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,222,222,1)), color-stop(100%,rgba(163,163,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(163,163,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(163,163,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(163,163,163,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(163,163,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */

}
tr.oddRow, .header
{
   background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.shown
{
   display:auto;
    height:auto;
}
.hidden
{  
    display:none;
}

#copyright
{
    position:fixed;
    font-size:80%;
    width:100%;
    text-align:center;
    bottom:0px;
    padding:2px;
    /*border-top: 1px solid white;*/
    
    background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}
