  /*Normalise*/

body,div,p
{
    margin:0;
    padding:0;    
}
/*End Normalise*/

body, html
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#settingsIcon
{
    width:24px;
    height:24px;
    position:absolute;
    right: 10px;
    top:10px;
}

h1 
{
    text-align:center;
    margin-top: 10px;
    padding:5px;
   
}

p
{

}


div#container
{
    
   position:absolute;
    min-width:100%;
    min-height:100%;
    
}

div#innerContainer
{
    width:100%;
    margin: auto;
}

div#textContainer
{
    width: 45%;
    float: left;
}

div#formContainer
{
   margin-left: 45%;
   margin-right:2%;
}
/*
input
{
   width:110px;
   height:20px;   

   margin:0 10px 10px 10px;   
}

input.button
{
   
   height:30px; 
   margin:10px 10px 10px 10px;
     

}*/


select
{
    display:block;
    margin:0 10px 10px 10px;
    width:111px;    
}

p.input
{
    width:100%;
    margin:0 10px 14px auto;
    text-align:right;
}
.output
{
    display:block;
    clear:both;
     
}

#calcButton
{
    text-align:center;
    width:40%;
    height:30px;
    margin: 5px 30% auto 30%;
    padding-bottom: 25px; 
}

#output.output
{
    margin-top:10px;
    text-align:center;
    font-size:150%;
}

#tableContainer
{
    margin:10px 10px 30px 10px;
    width:auto;
    padding:4px;
    overflow:hidden; 
}

#showTableButton
{
    display:block;
    vertical-align:middle;
    line-height:30px;
    padding-right:10px;
    position:absloute;
    min-width:90%;
    margin:15px auto;
}

#buttonText
{
    display:inline;
}

.up
{
   -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.down
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

table,th,td
{
    border: 1px solid black;
    padding: 3px 3px 3px 1px;
    color:black;    
    text-align:center;
}

td
{
    width:auto;
}

table
{
   width:100%;
   margin:auto;
   border: 1px solid black;
}

#tableHeader
{
    font-size:110%;
    text-align:center;
    font-weight:bold;
}

th
{
    font-size:80%;
    font-weight:bold;
    text-align:center;
    border: 1px solid black;
}

td
{
    font-size:80%;
}

td:first-child
{
    text-align:center;
}

tr.evenRow
{
   background: #fff; 
}
tr.oddRow, .header
{
   background: #eee;
}

.shown
{
   display:auto;
    height:auto;
}
.hidden
{  
    display:none;
}

#copyright
{
    position:fixed;
    font-size:80%;
    width:100%;
    text-align:center;
    bottom:0px;
    padding:2px;
    /*border-top: 1px solid white;*/
    
    background: rgb(69,72,77); /* Old browsers */
}
